:root {
    --dark-blue: #102F3E;
    --light-blue: #4B8CAD;
    --light-green: #B3DABF;
}

body {
    background-color: var(--dark-blue);
    color: white;
    font-size: 133%;
    text-shadow: 1px 1px black;
}

a {
    color: var(--light-blue);
}

a:hover {
    color: var(--light-green);
}

/* Timer is now on the top-right of screen */
.timerContainer {
    float: right;
}

/* mainContent div contains the quiz title and description on index.html. This class also contains
    the questions and answers on the mainQuiz.html page. */
.mainContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.mainContent h1 {
    margin-bottom: 30px;
    font-size: 200%;
    text-shadow: 4px 4px black;
}
.mainContent img {
    height: auto;
    max-width: 300px;
}
.mainContent li {
    margin-bottom: 5px; /* Prevents cursor highlighting answers it's not hovering over */
    border: 3px;
    border-color: var(--light-green);
    /* Intentionally no border style, it will appear when the answer is selected. (See script.js) */
    text-align: left;
}
.mainContent li:hover {
    cursor: grab;
    text-decoration: underline;
    color: var(--light-green);
}
.mainContent li:active {
    cursor: grabbing;
}
/* uiButton is a general purpose ID used for the next question button on mainQuiz.html, Submit button on highscores.html and the Begin Quiz button on index.html.*/
#uiButton {
    text-shadow: none;
    color: var(--light-blue);
    text-decoration: underline;
    font-size: 110%;
    background-color: var(--light-green);
    padding: 10px;
    border: 4px;
    border-style: outset;
    border-color: var(--light-green);
}

#uiButton:hover {
    color: white;
    cursor: grab;
}

#uiButton:active {
    border-style: inset;
}

#quizImage {
    height: auto;
    max-width: 500px;
    border: 5px;
    border-style: outset;
    border-color: var(--dark-blue);
}
/* answerFactoid is a box that appears after the user has selected an answer. It contains a factoid about the question they just answered and a button to move on to the next question. */
#answerFactoid {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    text-align: center;

    background-color: var(--dark-blue);
    color: white;

    border: 10px;
    border-style: double;
    border-color: var(--light-blue);
}